/Ch_Stl/Ch_Stl/Debug/*.log
/Ch_Stl/Ch_Stl/Debug/Ch_Stl.tlog/*.tlog
/Ch_Stl/Ch_Stl/Debug/Ch_Stl.tlog/*.lastbuildstate
/Ch_Stl/Ch_Stl/Debug/*.obj
/Ch_Stl/Ch_Stl/Debug/*.idb
/Ch_Stl/Ch_Stl/Debug/*.pdb
/Ch_Stl/*.db
/Ch_Stl/Debug/*.ilk
/Ch_Stl/Debug/*.pdb
